@font-face {
    font-family: clock;
    src: url(/public/clockwork-free.ttf);
}

body {
    min-width: 17rem;
    background-attachment: fixed;
    background-image: url("https://www.transparenttextures.com/patterns/subtle-white-feathers.png");
    /* background-color: #f0f0f0; */
    /* background: linear-gradient(179.97deg, #ffffff8a 0.03%, #dbdbdf8c 70.52%); */
    /* background-image: url("data:image/svg+xml,%3Csvg width='32' height='64' viewBox='0 0 32 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 28h20V16h-4v8H4V4h28v28h-4V8H8v12h4v-8h12v20H0v-4zm12 8h20v4H16v24H0v-4h12V36zm16 12h-4v12h8v4H20V44h12v12h-4v-8zM0 36h8v20H0v-4h4V40H0v-4z' fill='%23d9d9d9' fill-opacity='0.53' fill-rule='evenodd'/%3E%3C/svg%3E"); */
    /* background-image: url("https://www.transparenttextures.com/patterns/climpek.png"); */
    /* background-image: url("https://www.transparenttextures.com/patterns/concrete-wall.png"); */
    /* background-image: url("https://www.transparenttextures.com/patterns/gplay.png"); */
}

* {
    max-width: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.app {
    margin: auto;
    max-width: 50rem;
}


h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 400;
    word-spacing: 1rem;
    letter-spacing: 0.05em;
    font-size: 700%;
    margin: 1.5rem;
    font-family: clock, Helvetica, Arial, sans-serif;
    background: linear-gradient(179.97deg, #747070 0.03%, #000000 70.52%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.btn {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-right: 1rem;
    margin-left: 1rem;
    min-height: 2.3rem;
    min-width: 5.3rem;
    color: #686868;
    border-radius: 1.563rem;
    background-color: #7dd45500;
    border: .1rem solid rgb(80, 80, 80)
}

.btn:hover {
    background-color: rgb(58, 58, 58);
    color: #ebebeb;
    border: .1rem solid rgb(58, 58, 58);
}

.update-delete-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 0.3rem 0.3rem;
    font-size: 1.1rem;
    font-weight: 400;
    background: #cecdd3d3;
    max-width: 50rem;
    padding: 1rem;
    margin-bottom: 2rem;
}



.card-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 1.125rem;
    font-weight: 500;
    color: #242424;
    max-width: 50rem;
}

p {
    margin-left: .6rem;
    margin-right: .6rem;
}

.quote-text {
    color: #1a1a1a;
    width: 100%;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
}

input {
    margin: 0.5rem;
    background: #fafafa;
    min-width: 11rem;
    border-radius: .3rem;
    padding: .5rem;
    border: #333333 .063rem solid;
}


textarea {
    background: #fafafa;
    min-height: 7rem;
    min-width: 19rem;
    margin-bottom: 1.4rem;
    margin-top: .7rem;
    border-radius: .3rem;
    padding: .5rem;
    border: #333333 .063rem solid;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #cecdd3ab;
    max-width: 50rem;
    padding-top: 1.8rem;
    padding-bottom: 1.8rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem 0.3rem;
}


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */




::-webkit-scrollbar {
    width: 1rem;
}

::-webkit-scrollbar-track {
    background-color: rgb(163, 163, 163);
}

::-webkit-scrollbar-thumb {
    background-color: #38393a;
    border-radius: 1.25rem;
    border: .375rem solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
}




.skeleton-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-radius: 0.3rem 0.3rem;
    font-size: 1.1rem;
    font-weight: 400;
    background: #cecdd3d3;
    max-width: 50rem;
    min-height: 15rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

.skeleton-author-conatiner {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 1.8rem;
    width: 90%;
    border-radius: 0.3rem 0.3rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.skeleton-author {
    display: flex;
    height: 1.6rem;
    width: 22%;
    background-color: rgba(73, 73, 73, 0.2);
    border-radius: 0.3rem 0.3rem;
    margin: 1rem;
}

.skeleton-quote {
    display: flex;
    height: 1.5rem;
    width: 85%;
    height: 3em;
    background-color: rgba(73, 73, 73, 0.2);
    border-radius: 0.3rem 0.3rem;
    margin-bottom: 2rem;
}

.skeleton-btn-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 50rem;
}

.skeleton-buttons {
    display: flex;
    height: 1rem;
    width: 12%;
    height: 3em;
    background-color: rgba(73, 73, 73, 0.2);
    border-radius: 0.3rem 0.3rem;
    margin: 1.3rem;
    margin-bottom: 1.3rem;
    border-radius: 1.563rem;
    min-height: 2.3rem;
    height: 2.5rem;
    min-width: 5.3rem;
}