/* @font-face {
    font-family: myFont;
    src: url(font/clockwork.ttf);
} */



body {
    background-color: #f0f0f0;
}

* {
    max-width: 100%;
    box-sizing: border-box;
    /* padding: 10px; */
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
    font-size: 290%;
    font-family: clockwork, Helvetica, Arial, sans-serif;
}

.title {
    text-align: center;
}


.app {
    margin: auto;
    max-width: 800px;
}

.form {
    border-radius: 7px;
    background-color: #b2b0b8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    padding: 10px;
    margin-bottom: 2rem;
    border: 2px solid rgb(126, 126, 126);
}

.card-container {
    border-radius: 7px;
    font-size: 18px;
    font-weight: 400;
    background: #b2b0b8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 800px;
    padding: 1rem;
    margin-bottom: 2rem;
    border: 2px solid rgb(126, 126, 126);
}


.edit-delete {
    display: flex;
    margin-top: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

input {
    margin: 0.4rem;
}

tb {
    margin: 1rem;
    font-weight: 500;
}


.quote-input {
    min-height: 3rem;
    min-width: 15rem;
}



/* custom scrollbar */
::-webkit-scrollbar {
    width: 1.2rem;
}

::-webkit-scrollbar-track {
    /* background-color: transparent; */
    /* background-color: rgb(138, 43, 226); */
    background-color: rgb(163, 163, 163);
}

::-webkit-scrollbar-thumb {
    background-color: #00192a;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    /* background-color: #baf3ff; */
    background-color: #ffffff;

}